# Ignore a whole folder
cellpose_training/
models/

# Ignore a specific file

# Ignore all .log files anywhere
*.log
*.tif
*.npy
*.DS_Store

# Ignore compiled Python files
__pycache__/
*.pyc


# Ignore environment files

intro_images/~$intro_imags_ppt.pptx
intro_images/intro_imags_ppt.pptx
intro_images/ChatGPT Image Nov 4, 2025, 06_34_18 PM.png
helpers/max_internal_length.ipynb
notebooks/max_internal_length.ipynb
