# Ignore a whole folder
cellpose_training/
models/

# Ignore a specific file
secret.txt

# Ignore all .log files anywhere
*.log
*.tif
*.npy
*.DS_Store

# Ignore compiled Python files
__pycache__/
*.pyc


# Ignore environment files

helpers/.DS_Store
panels/.DS_Store
helpers/.DS_Store
intro_images/~$intro_imags_ppt.pptx
helpers/.DS_Store
panels/.DS_Store
intro_images/intro_imags_ppt.pptx
panels/.DS_Store
intro_images/ChatGPT Image Nov 4, 2025, 06_34_18 PM.png
demo_data/classifier.keras
demo_data/cellpose_model.pt
